<p id="notice"><%= notice %></p>

<p>
  <strong>Divnum:</strong>
  <%= @material.divnum %>
</p>

<p>
  <strong>Divname:</strong>
  <%= @material.divname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Defmeasure:</strong>
  <%= @material.defmeasure %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @material.cost %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
