<p id="notice"><%= notice %></p>

<p>
  <strong>Divnum:</strong>
  <%= @material.divisionnum %>
</p>

<p>
  <strong>Divname:</strong>
  <%= @material.divisionname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.itemdescription %>
</p>

<p>
  <strong>Defmeasure:</strong>
  <%= @material.defmeasure %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @material.unitcost %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
