<!-- _singleTimeForm.html.erb -->
<h4>Total Time Today</h4>
<%= "#{@hours_worked}  Hours"   %>

<br>
<br>
<%= simple_form_for [@workday, @work_segment], html: { class: 'form-horizontal' } do |wd| %>

    <div class="actions">
      <%= wd.input :timeEntry %>
      <%= wd.submit "Save", class: "btn btn-primary"%>
    </div>

<% end -%>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
