<p id="notice"><%= notice %></p>

<p>
  <strong>Divnum:</strong>
  <%= @admin_csi_division.divnum %>
</p>

<p>
  <strong>Divtitle:</strong>
  <%= @admin_csi_division.divtitle %>
</p>

<p>
  <strong>Groupname:</strong>
  <%= @admin_csi_division.groupname %>
</p>

<p>
  <strong>Subgroupname:</strong>
  <%= @admin_csi_division.subgroupname %>
</p>

<%= link_to 'Edit', edit_admin_csi_division_path(@admin_csi_division) %> |
<%= link_to 'Back', admin_csi_divisions_path %>
