<%= form_with(model: time_punch, local: true) do |form| %>
  <% if time_punch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_punch.errors.count, "error") %> prohibited this time_punch from being saved:</h2>

      <ul>
      <% time_punch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :punch %>
    <%= form.datetime_select :punch, id: :time_punch_punch %>
  </div>

  <div class="field">
    <%= form.label :workSegment_id %>
    <%= form.number_field :workSegment_id, id: :time_punch_workSegment_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :time_punch_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
