<%= simple_form_for(@material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :divnum, label: 'Division Number' %>
    <%= f.input :divname, label: 'Division Title' %>
    <%= f.input :description, label: 'Item description' %>
    <%= f.input :defmeasure, label: 'default measurement' %>
    <%= f.input :cost %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
