<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <%= link_to 'TractWork', root_path, class: "navbar-brand"  %>
        <!-- <a href="#" class="navbar-brand">Tract<strong>Work</strong></a> -->
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to 'Dashboard', :dashboard  %>

        </li>
        <li>
          <%= link_to 'Workdays', '#'  %>
        </li>

      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <% if current_user %>
        <li><%= link_to "Guten Tag #{current_user.firstName.capitalize}", user_path(current_user) %></li>
        <li><%= link_to '<i class="fa fa-sign-in"></i>Logout'.html_safe, :logout %></li>
        <% else %>
        <li><%= link_to '<i class="fa fa-sign-in"></i>Login'.html_safe, :login %></li>
        <% end  %>
      </ul>
    </div>
  </nav>
</div>
